.sidebar_button {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-decoration: none;
    transition: 0.5s;
}

.sidebar_button:hover {
    background-color: #02568A;
    cursor: pointer;
}

.sidebar_button_icon {
    width: 24px;
}

.sidebar_button_arrow {
    width: 16px;
}

.sidebar_button_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.sidebar_button_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.sidebar_button.active {
    background-color: #02568A;
}

.sidebar_button.active .sidebar_button_arrow {
    transform: rotate(180deg);
}

.sidebar_subbutton_container {
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    background: #32373C;
}
