.derecha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    background: #F1F1F1;
}

@media screen and (max-width: 768px) {
    .derecha {
        width: 100%;
    }
}