.derecha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #23282D;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #23282D;
        padding: 1rem;
    }
}