.izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23282D;
    width: 50%;
}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: 100px;
}

@media screen and (max-width: 480px) {
    .izquierda {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .izquierda {
        display: none;
    }
}