{% extends "base/base.html" %}

{% block title %}Sus cuentas{% endblock %}

{% block content %}
<div class="flex flex-col gap-10">
  <h1 class="text-4xl font-bold">Cuentas</h1>
  {# <SaldoCuentas /> #}

  {% if not cuentas %}
    <p>Actualmente no posee ninguna cuenta.</p>
  {% endif %}

  <div class="flex flex-col gap-5 text-blue-800">
    {% for cuenta in cuentas %}
      <div class="flex flex-col flex-1 p-6 rounded-lg bg-white shadow-[4px_4px_4px_0_rgba(0,0,0,0.25)]">
        <h2 class="text-xl mb-10 font-bold">{{ cuenta.tipo }} Nº {{ cuenta.iban }}</h2>
        <span class="font-semibold">Saldo</span>
        <span class="text-3xl font-bold">$ {{ cuenta.saldo }}</span>
        <hr class="border-gray-300 my-5">
        <a href="{% url 'movimientos_cuenta' cuenta.id %}">Ver movimientos</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
