* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 0px;
}

.cuentas-main-body {
    flex-grow: 1;
}

.cuentas-cont-main {
    flex-grow: 1;
    width: 100%;
}

.cont-cuentas {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 40px;
}

.p-cuentas {
    font-size: 1rem;
    padding: 0 0 1rem 0;
}

.p-cuentas2 {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.cont-moneda {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.p-moneda {
    font-size: 1rem;
    padding: 0 0 0.5rem 0;
}

.p-cantidad {
    font-size: 1.5rem;
}

.cont-card {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin-top: 18px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 0px 2px 7px -4px;
    height: 165px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 400px;
}

.info-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-card {
    display: flex;
    justify-content: space-between;
}

.principal {
    background-color: #d9d9d9;
    padding: 0.2rem 0.4rem 0 0.4rem;
    border-radius: 15px;
}

.bot-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
}

.cont-usd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-total {
    font-weight: bold;
}

svg {
    padding: 0 0 0.5rem 0;
}