footer {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;

    border-top: 1px solid #000;
    background: #D9D9D9;
}

.footer-logo {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo .logo {
    width: 150px;
}

.footer-info {
    display: flex;
    padding: 30px 0px;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    border-right: 1px solid #000;
}

.legal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.social-media {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    border-left: 1px solid #000;
}

.footer-info a, .footer-info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-media div {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.social-media a {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
