.welcome-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.welcome-user h1 {
    align-self: stretch;

    font-family: Inter;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

.account-status {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.account-status-label {
    align-self: stretch;

    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.account-status-box {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 20px;
    background: #D9D9D9;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.available-money-label {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.available-money-pesos {
    color: #000;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 700;
}

.available-money-usd {
    color: #000;
    font-family: Inter;
    font-size: 1.3rem;
}

.recent-activity {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.recent-activity-label {
    align-self: stretch;

    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.recent-activity-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 20px;
    background: #D9D9D9;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.recent-activity-entry {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 5px;
}

.recent-activity-entry-part {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.recent-activity-entry-title {
    flex: 1 0 0;

    color: #000;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recent-activity-entry-value {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recent-activity-entry-third {
    flex: 1 0 0;

    color: #514f4f;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recent-activity-entry-date {
    color: #514f4f;
    text-align: right;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main hr {
    width: 100%;
}

main > hr {
    width: 100%;
    border: 1px solid;
}
