aside {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    border-right: 1px solid #000;
    background: #23282D;
}

.sidebar-option {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-decoration: none;
    transition: 0.5s;
}

.sidebar-option:hover {
    background-color: #02568A;
    cursor: pointer;
}

.sidebar-option-icon {
    width: 24px;
}

.sidebar-option-arrow {
    width: 16px;
}

.sidebar-option p {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
}

.sidebar-option div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.selected {
    background-color: #02568A;
    width: 100vw;
}

.sidebar-option-detail {
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    background: #32373C;
}

.sidebar-option-detail i {
    display: none;
}

.sidebar-option-detail p {
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    align-self: stretch;
    color: #B4B9BE;
    font-size: 14px;
    font-weight: 700;
}

.sidebar-option-detail p, .selected {
    color: #FFF;
}

@media screen and (max-width: 480px) {
    aside {
        width: 3.5rem;
    }

    .sidebar-option {
        padding: 1rem;
        width: 100%;
    }

    .sidebar-option-icon {
        width: 30px;
    }

    .sidebar-option-arrow, .sidebar-option p {
        display: none;
    }

    .sidebar-option-detail {
        padding: 0 1rem;
    }

    .sidebar-option-detail i {
        display: inline;
        padding: 2rem 0;
    }
    
    .sidebar-option-detail p {
        display: none;
    }

    .sidebar-option div {
        height: 3rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    aside {
        width: 13.5rem;
    }

    .sidebar-option {
        width: 100%;
    }

    .sidebar-option-icon {
        width: 30px;
    }

    .sidebar-option p {
        font-size: 0.8rem;
    }

    .sidebar-option div {
        height: 3rem;
    }
}