body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

.actividad {
    flex-grow: 1;
}

h2 {
    margin: 0 0 0 2rem;
}

.caja-principal-act {
    margin: 2rem;
}


