* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #23282D;
    display: flex;
    color: white;
}

.logo {
    width: 13%;
    padding: 0.6rem;
}

.nav {
    font-size: 0.8rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 51rem;
}

ul {
    list-style: none;
}

.lenguaje {
    border-radius: 0.6rem;
    border: 1px solid #000;
    background: #FFF;
    padding: 0.2rem;
    width: 5.2rem;
    font-size: 0.8rem;
}

.lenguaje:hover {
    cursor: pointer;
}

main {
    display: flex;
}

.sidebar {
    width: 15%;
    border-right: solid 1px grey;
    background-color: #23282D;
    color: white;
    font-size: 0.9rem;
}

.cont-sidebar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding: 0.4rem;
    transition: 1s;
}

.cont-sidebar svg {
    width: 15%;
    font-weight: bold;
}

.cont-sidebar:hover {
    background-color: #02568A;
}

a {
    color: white;
    text-decoration: none;
}

.cont-main {
    padding: 40px;
    width: 100%;
}

.usuario {
    border-bottom: solid 5px #23282D;
}

.h1-main {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 0 10px 0;
}

.cuenta {
    padding: 40px 0 0 0;
    border-bottom: solid 5px #23282D;
    padding: 35px 0 50px 0;
}

.p-main {
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0 0 10px 0;
}

.caja-main {
    height: 160px;
    border-radius: 20px;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 10px #a7a7a8;
}

.caja-main-title {
    font-weight: bolder;
    font-size: 1.45rem;
    padding: 2rem 0 1rem 2.5rem;
}

.caja-main-subtitle {
    font-size: 1.1rem;
    padding-left: 2.5rem;
}

.caja-main-subtitle:last-child {
    padding-top: 1rem;
}

.actividad {
    padding: 40px 0 0 0;
}

.caja-principal-act {
    display: flex;
    flex-direction: column;
    height: 30.5rem;
    background-color: #d9d9d9;
    border-radius: 20px;
}

.p-act {
    font-size: 1.1rem;
}

.p-act-sub {
    font-size: 0.9rem;
    color: #514f4f;
    margin-top: 2px;
}

.caja-hija-act {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding: 20px;
}

.caja-hija-act:last-child {
    border-bottom: none;
}

.derecha {
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 0.8rem;
    display: flex;
    border-bottom: solid 1px grey;
    background-color: #d9d9d9;
    height: 7rem;
}

.logo-footer {
    width: 15%;
    padding: 1.5rem;
}

.columna-uno, .columna-dos, .columna-tres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem;
    margin-left: 15px;
}

.columna-uno > li, .columna-dos > li, .columna-tres > li {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fa-brands {
    width: 5%;
}