.card_container {
    aspect-ratio: 5/3;
    color: white;
    font-family: var(--font-poppins), sans-serif;
    perspective: 1000px;
}

.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}

.card_container:hover .card_inner {
    transform: rotateY(-180deg);
}

.card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    background-image: url("./img/bg.png");
    background-size: cover;
    backface-visibility: hidden;
}

.card_back {
    transform: rotateY(180deg);
}

.card_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .card_grid {
        grid-template-columns: repeat(1, minmax(350px, auto));
    }
}
