{% extends "autenticacion/base.html" %}

{% load widget_tweaks %}

{% block title %}Iniciar Sesion{% endblock %}

{% block content %}
<div class="flex flex-col gap-10 p-8 rounded-2xl bg-gray-300 text-black">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-semibold text-center">Bienvenido a Guardian Bank</h1>
    <p class="text-sm text-center">Inicia sesion para acceder a su cuenta</p>
  </div>

  <form method="POST" action="/" class="flex flex-col form-group gap-5">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-field">
        {{ field|add_label_class:"" }}
        {% render_field field class+="rounded-lg" placeholder=field.label %}
        {{ field.errors }}
      </div>
    {% endfor %}

    <div class="flex">
      <div class="flex gap-2">
        {# <input type="checkbox" id="remember-me" name="remember_me" class="w-5 h-5 rounded" /> #}
        {# <label for="remember-me" class="text-sm">Recuerdame</label> #}
      </div>

      <p class="link link-primary link-underline-hover ml-auto text-sm">¿Olvidaste tu clave?</p>
    </div>

    <button type="submit" class="btn w-full mt-5 bg-[#0072f5]">Iniciar Sesion</button>
  </form>

  <a href="/registro" class="link link-primary link-underline-hover justify-center text-center text-sm">¿No tiene una cuenta? Regístrate</a>
</div>
{% endblock %}