{% extends "base/base.html" %}

{% load static %}

{% block external %}
<link rel="stylesheet" href="{% static 'tarjetas/tarjetas.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
{% endblock %}

{% block title %}Sus tarjetas{% endblock %}

{% block content %}
<div class="flex flex-col gap-10">
  <h2 class="text-4xl font-bold">Tarjetas de debito</h2>

  <div class="card-grid">
    <div class="card-container">
      <div class="card-inner">
        <div class="card-front">
          
          <div class="card-row h-1/5">
            <div class="h-full flex gap-3">
              <img src="{% static 'tarjetas/master.png' %}" class="h-full" />
              <span class="self-center text-lg font-medium">Mastercard</span>
            </div>
            
            <img src="{% static 'tarjetas/chip.png' %}" class="h-3/4" />
          </div>
          
          <div class="card-row text-2xl">
            <p>5325 4546 3425 3254</p>
          </div>

          <div>
            <div class="card-row text-xs">
              <p>Propietario</p>
              <p>Valido hasta</p>
            </div>
  
            <div class="card-row mt-1.5 text-xl">
              <p>JOE ALISON</p>
              <p>10 / 25</p>
            </div>
          </div>
        </div>

        <div class="card-back">
          <div class="bg-[#222] mx-[-30px] h-[50px] mt-1"></div>

          <div class="card-row w-full h-1/5">
            <img src="{% static 'tarjetas/pattern.png' %}" class="h-full">
            <span class="h-5/6 flex flex-1 justify-center items-center bg-white text-black text-xl">824</span>
          </div>

          <div class="card-row h-1/5">
            <img src="{% static 'base/white_logo_title.webp' %}" class="h-full">
            <img src="{% static 'tarjetas/master.png' %}" class="h-full">
          </div>
        </div>
      </div>
    </div>

    {% for tarjeta in tarjetas_debito %}
      
    {% endfor %}

  </div>

  <h2 class="text-4xl font-bold">Tarjetas de credito</h2>

  {% for tarjeta in tarjetas_credito %}
      
  {% endfor %}
  
</div>
{% endblock %}
