aside {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    background: #23282D;
}

.sidebar-close-button {
    width: 24px;
    padding: 0;

    fill: #FFF;
}

.sidebar-close-button:hover {
    cursor: pointer;
}

.sidebar-body {
    flex: 1;
}

.sidebar-card {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-decoration: none;
    transition: 0.5s;
    border: 0;
    border-radius: 0;
}

.sidebar_button_icon {
    width: 24px;
    height: 24px;
    color: white;
    fill: white;
    stroke: white;
}

.button {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

.button:hover {
    background-color: #02568A;
    cursor: pointer;
}

.button_icon {
    width: 24px;
}

.button_arrow {
    width: 16px;
}

.button_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.button_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.button.active {
    background-color: #02568A;
}

.button.active .sidebar_button_arrow {
    transform: rotate(180deg);
}

.button_container {
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    background: #32373C;
}