button {
    border: none;
    font-size: 22px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #02568a;
    color: white;
    font-weight: bold;
    margin: .8rem auto;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background-color: #3a87b7;
}

@media screen and (max-width: 480px) {
    button {
        width: 250px;
        height: 3rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    button {
        width: 250px;
        height: 3rem;
    }
}