* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.conteiner {
    display: flex;
    min-height: 100vh;
}

.izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23282D;
    width: 50%;
}

.conteiner_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: 100px;
}

.derecha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.conteiner_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    background-color: #d9d9d9;
    padding: 30px;
    margin-top: 100px;
    border-radius: 20px;
    height: 450px;
}

.formulario-registro h4 {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.formulario-registro p {
    font-size: 1rem;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.conteiner-controls {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.controls {
    width: 100%;
    padding: 1.3rem;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 0; 
    height: 44px;
    font-size: 1rem;
}

.button {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #02568a;
    font-size: 1.2rem;
    height: 50px;
    transition: 1s;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: #3a87b7;
}

.text-button {
    color: white;
}

.span {
    display: flex;
    justify-content: center;
    color: red;
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 480px) {
    .izquierda {
        display: none;
    }

    .derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #23282D;
    }

    .formulario-registro {
        padding: 20px;
        margin-top: 0;
        height: 400px;
    }
    

    .formulario-registro h4 {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .formulario-registro p {
        font-size: 20px;
        padding-top: 5px;
    }

    .controls {
        padding: 1.5rem;
    }

    .button {
        margin: 10px 0 10px 0 ;
    }
}

@media screen and (max-width: 768px) {
    .izquierda {
        display: none;
    }

    .derecha {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #23282D;
    }

    .formulario-registro {
        padding: 20px;
        margin-top: 0;
        height: 450px;
    }
    

    .formulario-registro h4 {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .formulario-registro p {
        font-size: 20px;
        padding-top: 5px;
    }

    .controls {
        padding: 1.5rem;
    }

    .button {
        margin: 10px 0 10px 0 ;
    }
}