@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000;
}

@media screen and (max-width: 480px) {
  main {
      padding: 14px;
      width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
      padding: 15px;
      width: 100%;
  }
}
