@tailwind base;
@tailwind components;
@tailwind utilities;

.header_height {
  height: 70px;
}

.header_padding {
  padding: 15px;
}

.sidebar_button_icon {
  width: 24px;
  height: 24px;
  color: white;
  stroke: white;
}
