<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITBA Homebanking</title>
  <link rel="stylesheet" href="style/index.css">
</head>

<body>
  <main className="conteiner">
    <div className="izquierda">
      <div className="conteiner_logo">
        <img className="logo" src="img/white-logo.png" alt="ITBA">
      </div>
    </div>

    <div className="derecha">
      <div className="conteiner_form">
        <form id="formulario" className="formulario" action="inicio.html" method="POST">
          <h4>Bienvenido al ITBANK</h4>
          <input id="email" className="controls" placeholder="ejemplo@gmail.com">
          <input id="password" className="controls" type="password" placeholder="Contraseña">
          <input type="submit" value="Ingresar" className="button">
          <div className="span">
            <span id="errorMensaje"></span>
          </div>
          <p>¿Olvidaste tu contraseña?</p>
          <hr className="hr">
          <a className="registro" href="registro.html">
            <p>¿No tiene una cuenta? Registrate</p>
          </a>
        </form>
      </div>
    </div>
  </main>
  <script src="script/form-index.js"></script>
</body>

</html>