header {
    height: 70px;
    padding: 15px;
    display: flex;

    background: #23282D;
}

.header {
    width: 100%;
    position: fixed;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 26px;
}

.header-logo-container {
    align-self: stretch;
    flex: 1 0 0;
}

.header-logo-container .header-logo {
    height: 100%;
    width: auto;
}

.header-sidebar-button {
    height: 16px;
}

.header-sidebar-button:hover {
    cursor: pointer;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.header-right a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

#lang-selector {
    padding: 3px;
    border-radius: 10px;
    font-size: 14px;
}

#lang-selector:hover {
    cursor: pointer;
}

@media screen and (max-width: 481px) {
   .header-logo {
    display: none;
   }
}
