{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css" />

  <title>{% block title %}Guardian Bank{% endblock %}</title>
	<link rel="icon" href="{% static 'base/favicon.ico' %}" />
</head>
<body class="bg-[#F1F1F1]">
	{% include "base/header.html" %}
  {% include "base/sidebar.html" %}
  <main class="w-1/2 min-h-screen mx-auto flex flex-col pt-32 pb-16 text-black">
      {% block content %}{% endblock %}
  </main>
  {% include "base/footer.html" %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>
</html>