{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'autenticacion/footer.css' %}"/>

<footer>
  <div class="p-10 hidden md:flex">
    <a href='/home'>
      <img src="{% static 'base/logo_title.webp' %}" width="200" height="200" alt="Guardian Bank" title="Guardian Bank" />
    </a>
  </div>

  <div class="footer-info">
    <div class="contact-info">
      <p>example@guardianbank.com</p>
      <p>11 1234-5678 / 11 1234-5678</p>
      <p>Domicilio 1234</p>
    </div>
    <div class="legal-info">
      <a href="#" aria-label="Términos y condiciones">Términos y condiciones</a>
      <a href="#" aria-label="Políticas de privacidad">Políticas de privacidad</a>
      <p>© 2023 GUARDIAN BANK</p>
    </div>
    <div class="social-media">
      <div>
        <a href="https://www.facebook.com/" aria-label="Guardian Bank en Facebook" class="mx-auto md:m-0">
          {# <FaFacebook class="w-5 h-5" /> #}
        </a>
        <a href="https://www.facebook.com/" aria-label="Guardian Bank en Facebook" class="hidden md:inline">
          <p>/guardianbank</p>
        </a>
      </div>
      <div>
        <a href="https://www.twitter.com/" aria-label="Guardian Bank en Twitter" class="mx-auto md:m-0">
          {# <FaTwitter class="w-5 h-5" /> #}
        </a>
        <a href="https://www.twitter.com/" aria-label="Guardian Bank en Twitter" class="hidden md:inline">
          <p>@guardianbank</p>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/" aria-label="Guardian Bank en Instagram" class="mx-auto md:m-0">
          {# <FaInstagram class="w-5 h-5" /> #}
        </a>
        <a href="https://www.instagram.com/" aria-label="Guardian Bank en Instagram" class="hidden md:inline">
          <p>@guardianbank</p>
        </a>
      </div>
    </div>
  </div>
</footer>