@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #000;
}

.sidebar-and-main {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 100vh;
}

main {
    display: flex;
    padding: 60px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    background: #F1F1F1;
}

@media screen and (max-width: 480px) {
    main {
        padding: 14px;
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    main {
        padding: 15px;
        width: 100%;
    }
}